doctype html
html
    head
        title Time Doesn't Stop!
        meta(name='description', content='Time is what we want most, but what we use the worst.')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //- META TAGS FOR PREVIEW
        meta(property='og:title', content='Time doesn\'t stop')
        meta(property='og:description', content='Time is what we want most, but what we use the worst.')
        meta(property='og:site_name', content='NarulaKeshav')
        meta(property='og:url', content='http://narulakeshav.com/time/')

        //- LINK TO CSS FILES
        link(rel='shortcut icon', href='images/icon.png')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

        //- Link to custom CSS file
        link(rel='stylesheet', href='scss/design.css')

    body
        .col-md-12.layer
        .col-md-12
            .col-md-6.col-md-offset-3.quote(align="center")
                h1
                    span#date JAN 1, 2017
                    br
                    span#hour 00
                    span.blinker :
                    span#min 00
                    span.blinker :
                    span#sec 00
                    span#ampm am/pm
            .col-md-8.col-md-offset-2.time(align="center")
                //- h1 Don't wait, time will never be just right.
                h1#time-quote If you spend too much time thinking about a thing, you'll never get it done.
        button.change Different Quote
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='js/time.js')
